<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.itquality.patrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppTheme.Auth" />
        <activity
            android:name=".auth.RegisterActivity"
            android:theme="@style/AppTheme.Auth" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".alert.AlertActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".messages.ThreadsActivity"
            android:label="@string/messages" />
        <activity
            android:name=".messages.ContactsActivity"
            android:label="@string/contacts_title" />
        <activity
            android:name=".messages.ChatActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".service.ListenerServiceFromWear"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/stigg-login"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ActivityRecognizedService"
            android:exported="false" />
        <service android:name=".service.LocationService" />
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bb1d45db6a6ade462c0c68fb3dfd4e710d49d8da" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>